/* 
    Created on : 22 Mar. 2022, 6:52:21 pm
    Author     : jemima
*/
body {
  background-size: contain;
  border-radius: 50%;
  background-color: #c0c0c0;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
}

a:link,
a:visited {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 12px;
}
a:hover,
a:active {
  background-color: white;
  color: black;
}

.registerform {
  width: 400px;
}

.button {
  background-color: white;
  color: black;
  font-size: 20px;
  width: 80px;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
}

#bar {
  position: fixed;
  background-color: #6f6f6f;
  padding: 10px 5px 6px 15px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
}

.footer {
  position: fixed;
  background-color: #6f6f6f;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  padding: 30px;
  opacity: 0.7;
}

#links {
  font-size: 18px;
  padding: 5px;
  word-spacing: 2px;
  float: right;
}
